.c-header{
    background-color: lightgray;
    color: white;
    text-align: center;
}

.gambar-card{
    height: auto;
    max-width: 100%;
    z-index: initial;
}

.gambar-border{
    margin: 8px 8px 0 8px;
    border-color: lightgray;
    height: 250px;

}

.border-card{
    box-shadow: 1px 1px 9px black;
}

.card-body .card-title  {
    font-weight: 500 ;
    font-family: 'Roboto', sans-serif !important;
}

.card-text{
    font-weight: 200;
    font-family: 'Roboto', sans-serif !important;
}